@use "../base/variables" as *;
@use "../base/animations";

.contact-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: $padding-large;
  gap: $gap-medium;
  height: 100vh;

  h3 {
    font-family: "Comic Neue", cursive;
    font-size: 1.5rem;
  }

  p {
    width: 80vw;
  }

  .icon-container {
    display: flex;
    gap: $gap-medium;
  }
}
