@use "../base/variables" as *;
@use "../base/animations";

.projects-container {
  display: flex;
  flex-direction: row;
  gap: $gap-small;
  align-items: center;
  justify-items: center;
  padding-left: 5rem;
  box-sizing: border-box;

  .projects-title {
    writing-mode: vertical-rl; /* right to left vertical */
    text-orientation: upright;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    letter-spacing: 10px;
    font-family: "Comic Neue", cursive;
  }

  @media (max-width: $breakpoint-md) {
    padding: $padding-small;
    width: 100%;
    flex-direction: column;
    height: fit-content;
    .projects-title {
      writing-mode: horizontal-tb;
    }

    .projects {
      padding: 1rem;

      .project-card {
        flex-direction: column;
      }
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  align-items: center;
  gap: $gap-medium;

  .project-card {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 1rem;
    border: 20px double #555555;

    .img-container {
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .project-info {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: $gap-small;

      * {
        margin: 0;
      }

      h3 {
        font-family: "Charm", cursive;
        font-style: normal;
        font-size: 1.5rem;

        a {
          color: white;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}
