@keyframes growX {
  to {
    transform: scaleX(1);
  }
}

@keyframes growY {
  to {
    transform: scaleY(1);
  }
}

@keyframes revealMask {
  to {
    mask-size: 200% 200%;
    -webkit-mask-size: 200% 200%;
  }
}
