@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --color-text: rgba(255, 255, 255, 0.87);
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-weight: 400;
  --font-style: normal;

  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Helvetica Neue", sans-serif;
  background: linear-gradient(to right, #000000, #555555, #5b3c3c);

  * {
    color: #fff; // Optional: light text color for contrast
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body p {
  font-family: "Comic Neue", cursive;
}

html {
  scroll-behavior: smooth;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
#profile,
#projects,
#contact {
  scroll-snap-align: start;
  box-sizing: border-box;
  height: 100vh;
}
