// Colors
$white: #ffffff;
$black: #000000;

// Spacing
$padding-large: 5rem;
$padding-medium: 2rem;
$padding-small: 1rem;
$gap-large: 80px;
$gap-medium: 40px;
$gap-small: 10px;

// Breakpoints
$breakpoint-md: 820px;

// Animations
$anim-duration: 0.6s;
$anim-mask: 3s;
